.navbar {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  background-color: #000;
  background-size: 100%;
  display: flex;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.container {
  background-color: rgba(255, 255, 255, 0.103);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-links {
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

#home-page {
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

#logo {
  padding-left: 25px;
}

.navbar-item {
  width: 100%;
}

.navbar-links {
  text-align: center;
  width: 300px;
  display: table;
}

#players:hover {
  color: #c00000f6;
  transition: all 0.5s ease;
}

#teams:hover {
  color: #1100ff;
  transition: all 0.5s ease;
}

#vote:hover {
  color: #ffd255;
  transition: all 0.5s ease;
}

.players {
  font-size: 32px;
}

.teams {
  font-size: 32px;
}

#submit {
  align-items: right;
  width: 90px;
  height: 40px;
  background-color: rgb(100, 100, 100);
  font-size: large;
  font-weight: bold;
}

#player-list {
  background-image: url(https://i.pinimg.com/originals/7e/8f/57/7e8f576ce15d1f066aef56550fb264f6.png);
  background-size: 100%;
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#team-list {
  background-image: url(https://i.pinimg.com/originals/7e/8f/57/7e8f576ce15d1f066aef56550fb264f6.png);
  background-size: 100%;
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  padding-left: 10px;
}

#mvp {
  background-image: url(https://i.cdn.turner.com/nba/nba/heat/media/kia_mvp_logo.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-color: rgba(200, 200, 200, 0.25);
  width: 95%;
  float: left;
}

.playerList {
  visibility: visible;
}
